.contact{
    text-align: center;
    margin-left: 0%;
    left: 120px;
    font-family:fantasy;
    font-size: 50px;
    color: rgb(222, 194, 9);
    font-weight: 400;
    
}
.contactlinks{
    font-size: 17px;
    text-align: center;
    margin-left: 0%;
    padding: 10px;
    font-family: sans-serif;
    

}
.contactgif{
    height: 20%;
    position: absolute;
    margin-top: 20%;
    margin-left: 45%;
    animation: zoomIn 1s;
}