body {
  margin: 0;
  font-family: 'Helvetica Neue';
  font-size: 250%;
  color: aliceblue;
  background: #0b2a3a;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    /* animation-name: backgroundColorPalette;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}
/* @keyframes backgroundColorPalette {
  0% {
    background: #281b58;
  }
  50% {
    background: #463df4;
  }
  100% {
    background: #4d1515;
  }
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
